/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

nav {
	#logo {
		font-size: 26px;
		font-weight: 700;
		text-transform: uppercase;
		// letter-spacing: -1px;
		color: #383732;
	}
	#right a {
		font-weight: 500;
		color: #383732;
	}
}

#main-content { 
	.link {
		padding: 15px 10px;
		border-bottom: 1px solid #e9e9e9;
		a {
			color: #20457C;
		}
	}
}









